@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap");

:root {
  --clr-main: rgb(32, 37, 53);
  --container-width: 1500px;
  --clr-red: "#FF5733";
  --clr-shadow: "#171b26";
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-main);
  font-family: "Kumbh Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 20px;
}
.pomoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeLabel {
  color: white;
  font-weight: 600;
  font-size: 50px;
}

.button-container {
  margin-top: 20px;
  display: block;
  height: 100px;
}

.button-container > div {
  display: inline-block;
  width: 50px;
}

.startBtnDiv:hover,
.resetBtnDiv:hover {
  cursor: pointer;
}

.startBtnDiv {
  margin-right: 30px;
}
.startBtn {
  max-width: 50px;
  height: 80px;
}

.resetBtnDiv {
  margin-left: 40px;
}

.resetBtn {
  width: 50px;
}

.icons {
  color: white;
}

.modeBar {
  display: flex;
  color: white;
  gap: 25px;
  background-color: var(--clr-main);
  padding: 20px;
  box-shadow: 0 0 20px hsl(224, 25%, 12%);
  border-radius: 30px;
  white-space: nowrap;
}

.mode {
  z-index: 10;
}
.mode:hover {
  cursor: pointer;
}

.indicator {
  transition: ease-in 0.2s;
}

.logo {
  width: 50px;
}

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.heroText {
  color: white;
  font-size: 80px;
  text-align: center;
}

.subHeroText {
  color: #ff5733;
  text-align: center;
}

.subHeroSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.callToActionBtn {
  text-decoration: none;
  color: white;
  margin-top: 50px;
  padding: 12px;
  border: 2px solid #ff5733;
  border-radius: 25px;
}

@media only screen and (max-width: 600px) {
  .heroText {
    font-size: 60px;
  }
}
