:root {
  --some-red-color: red;
  --container-width: 1500px;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-left: 8%;
  padding-right: 8%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(32, 37, 53);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: var(--some-red-color);
}

#base-timer {
  position: relative;
  height: 300px;
  width: 300px;
}

#back-circle {
  fill: none;
  stroke: none;
}

#front-circle {
  stroke-width: 0.2px;
  stroke: rgb(87, 87, 87);
}

#path-remaining {
  stroke-width: 5px;
  transform: rotate(90deg);
  transform-origin: center;
  stroke-linecap: round;
  stroke: red;
}

#time-label {
  color:white;
}